<!DOCTYPE html>

{% extends 'base2.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sss</title>
</head>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
{% block content %}
<h3>About <b>{{ agency_detail.agency_company_name }}</b></h3>
<p>{{ agency_detail.agency_description }}</p>
<!--    <img class="rounded-circle account-img" width="200" height="200" src="/media/{{ posts.image_file }}" />-->
<h3>Locations:</h3>
{% for agencyinfoaddress in agency_info_address %}
{% if agencyinfoaddress.agency_company_address %}
    <p>{{ agencyinfoaddress.agency_company_address }}</p>
{% endif %}
{% endfor %}
<h3>Company website :</h3>
<!--<p>  {{ agency_detail.agency_company_website }}</p>-->
<a href="{{ agency_detail.agency_company_website }}">{{ agency_detail.agency_company_website }}</a>
<h3>Company Contact Info: </h3>
<p>  {{ agency_detail.agency_contact_number }}</p>
<h3>Social media:</h3>
{% for agencyinfoaddress in agency_info_address %}
{% if agencyinfoaddress.agency_social_media %}
<!--    <p>{{ agencyinfoaddress.agency_social_media }}</p>-->
    <a href="{{ agencyinfoaddress.agency_social_media }}">{{ agencyinfoaddress.agency_social_media }}</a>
{% endif %}
{% endfor %}
<div class="container">
    <h3>{{ message }}</h3>
    <table style="width:100%">
        <tr>
            <th>Service : Specialty</th>
            <th>Service : Interest</th>
            <th>Agency Size</th>
            <th>Budget</th>
            <th>Language</th>
            <th>Location</th>
        </tr>
        <tr>
            <td>{{ agency_brief_detail.agency_specialty }}</td>
            <td>{{ agency_brief_detail.agency_interest }}</td>
            <td>{{ agency_detail.agency_studio_size }}</td>
            <td>{{ agency_brief_detail.agency_event_budget }}</td>
            <td>{{ agency_detail.agency_language }}</td>
            <td>{{ agency_info_detail.agency_company_address }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>{{ agency_detail.agency_employee_number }} employees</td>
        </tr>
    </table>
</div>

<div class="container">
    <h3>Works</h3>

</div>

<div class="container">
    <h3>Reviews</h3>

</div>
{% endblock %}

</body>
</html>